/*style 6.24 */
/*style 6.26 */

/*style 6.29 by link*/
/*style 20130704-2 by link*/
/*style 20130706 by link*/
/*style 20130709-2 by link*/
/*style 20130711 by link*/
/*style 20130712 by link*/
/*style 20130716 by link*/
/*style 20130717 by link*/
/*style 20130718 by link*/
/*style 20130723 by link*/
/*style 20130731 by boatgm*/

/* reset */
html,body{_background-image:url(about:blank);_background-attachment:fixed;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li, fieldset, form, lengend, button, input, textarea,th, td { margin: 0; padding: 0 }
.w1000{width:960px;margin:0 auto;}
#wraper{width:960px;margin:30px auto 0px auto;position: relative;}
#mainBody{width:640px;padding-bottom:30px; float:left; background:#fff;}







.mian-ad{ position:relative;}
/*  |xGv00|62f3981ce12c9f9d6d240522fe348b12 */